*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
    

body{
    background-color: rgb(70, 70, 70);
    display: flex;
    justify-content: center;
}
h1{
    color: red;
    background-color: aqua;
}
li{
    list-style-type:none;
}
.list{
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;
}
.elements{
    width: 200px;
    text-align:center;
    padding: 20px;
    border: 1px solid black;
    margin-top:20px;
}
#main{
   max-width: 1200px; 
   border: 1px solid red
}
