*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}  
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(212, 212, 212);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
#particles-js{
    position: fixed;
    width: 100%;
    height: 100vh;
}
li{
    list-style-type:none;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.elements{
    width: 320px;    
    padding: 15px 0 15px 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:20px;     
    background-color: white; 
    border-radius: 5px; 
    border: 2px solid rgb(55,55,55);   
    transform: 0.3s;  
}
.numInput{
    font-size: 17px; 
    width: 80px;
    height: 100%;;
    float: right;
    border:none;
    text-align: center;   
    border-left: solid 2px rgb(55,55,55);     
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
label{
    height: 100%;
}
#main{
   max-width: 1300px;   
   position: relative;
   padding-bottom:100px;
   margin-left: auto;
   margin-right: auto;
}
.h1{  
    font-size: 45px;
    text-align: center;
    margin-top: 0;
    padding: 10px;
    color:whitesmoke;	
	text-align:center;
    
} 
.searchDiv{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.searchInp{      
    padding: 20px 0 20px 15px;    
    font-size: 19px;  
    background-color: whitesmoke; 
    border-radius: 5px; 
    border: 2px solid rgb(55,55,55);      
    width: 92%;   
    margin-top:20px;     
}
.header{      
    position: relative;
    width: 100vw;
    box-shadow: 0 0 10px rgb(20, 20, 20);    
    background-color:rgb(55,55,55);
}
.counter{
	position:fixed;
	padding: 20px;	
	bottom:0;
    right:0;
    left: 0;
    margin: 0 auto;
	color:whitesmoke;	
	text-align:center;
    box-shadow: 0 0 10px rgb(20, 20, 20);    
    background-color:rgb(55,55,55);
    font-size: 27px;    
}
.pulse{
    animation: pulse 1.4s;
}
.cLetter{
    font-size: 80px; 
}
@keyframes pulse{
    0%{background-color:rgb(55,55,55);
    color: whitesmoke;}
    50%{background-color:rgb(53, 231, 97);
    color: black;
    box-shadow: 0 0 7px rgb(53, 231, 97);}
    100%{background-color:rgb(55,55,55);
    color: whitesmoke;}
}
input:focus{
    outline: none;
}
.menuBtn{
   height: 45px;
   width: 45px;
   position: absolute;
   z-index: 1;   
   cursor: pointer;
   opacity: 0;   
}
.line{
  width: 45px;
  height: 6px;
  background-color: rgb(255, 255, 255);
  margin: 8px 0;  
}
.line1, .line2 {     
    width: 44px;
    height: 6px;
    background-color: rgb(255, 255, 255);
    margin: 8px 0;      
}
.line1{
    transform: rotate(-45deg) translate(-20px , 0);
}  
.line2 {    
    transform: rotate(45deg) translate(10px, -10px);      
}
.greenColor{
    transition: 0.3s;
    color: rgb(53, 231, 97);
}
.menu{
    position: absolute;
    top: 30px; left: 5%; 
    cursor: pointer;
}
.change, .price{    
    font-size: 16px;
    margin-top: 5px;
}
.coinName{
    font-size: 19px;
}
.menuBig{      
    position: relative;
    color: white;
    margin-left: 20%;
    padding: 10px;
}
.menuOption{
    font-size: 22px;
    padding: 15px;
    
    /* border: 1px solid red; */
    width: 80%;
}
.menuLabel{
    cursor: pointer;
}
.menuCheckbox{
    height: 17px;
  width: 17px;
  display: none;
}

@media  (max-width: 720px) {
    .counter{
        font-size: 20px;
    }
    .cLetter{
        font-size: 40px; 
    }
    .h1{  
        font-size: 25px;
    }
    .elements{        
        padding: 15px 0 15px 10px;  
        min-width: 80%;         
        margin-left: 10px;
        margin-right: 10px;
    }
    .numInput{
        font-size: 13px; 
    }
    .line{
        width: 35px;
        height: 5px;        
        margin: 6px 0;  
    }
    .menu{      
        top: 15px; left: 20px; 
    } 
    .coinName{
        font-size: 17px;
    }
    .change, .price{    
        font-size: 14px;
    } 
    .menuBig{        
        margin-left: 10%; 
    }  
    .menuOption{
        font-size: 15px;
    } 
    .searchInp{
        padding: 15px 0 15px 10px;    
        font-size: 19px;
    }
    .menuBtn{
        height: 35px;
        width: 35px;    
    }         
    .line1, .line2 {     
        width: 31px;
        height: 5px;            
    }
    .line1{
        transform: rotate(-45deg) translate(-10px , 1px);
    }        
    .line2 {    
        transform: rotate(45deg) translate(5px, -12px);      
    }
    .menuCheckbox{
    height: 12px;
      width: 12px;      
    }
     
  }
  @media  (max-width: 430px) {    
    .cLetter{
        font-size: 28px; 
    }
    .h1{  
        font-size: 19px;
    }
    .counter{
        padding: 15px;
    }
    .line{
        width: 30px;
        height: 4px;        
        margin: 5px 0;  
    }
    .menu{          
          top: 10px; left: 15px; 
    } 
    .menuBtn{
        height: 30px;
        width: 30px;    
    }         
    .line1, .line2 {     
        width: 25px;
        height: 4px;              
    }
    .line1{
        transform: rotate(-45deg) translate(-11px , 1px);
    }        
    .line2 {    
        transform: rotate(45deg) translate(3px, -8px);      
    } 
    .menuCheckbox{
        height: 10px;
          width: 10px;          
        }
  }
  