<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="particles-js"></div>
    <div id="app">
        <div class="header">
            <div class="menu">
                <input type="checkbox" id="menuBtn" v-model="showMenu" class="menuBtn">
                <div v-if="!showMenu" class="line"></div>
                <div v-if="!showMenu" class="line"></div>
                <div v-if="!showMenu" class="line"></div>
                <div v-if="showMenu" class="line1"></div>
                <div v-if="showMenu" class="line2"></div>
            </div>
            <div class="h1"><span class="cLetter">C</span>RYPTO <span class="cLetter">C</span>ALC<span
                    class="hideTitle">ULATOR</span>
            </div>
            <div class="menuBig" v-if="showMenu">
                <ul>
                    <li class="menuOption">
                        <label for="showPrice" @click="cookiesMenu()"
                            v-bind:class="[showPrice ? 'menuLabel greenColor' : 'menuLabel']">
                            <input v-model="showPrice" type="checkbox" id="showPrice" class="menuCheckbox">
                            Show price</label></li>
                    <li class="menuOption">
                        <label for="showChange" @click="cookiesMenu()"
                            v-bind:class="[showChange ? 'menuLabel greenColor' : 'menuLabel']">
                            <input v-model="showChange" type="checkbox" id="showChange" class="menuCheckbox">
                            Show change 24h</label>
                    </li>
                    <li class="menuOption">
                        <label for="showSearchbox" @click="cookiesMenu()"
                            v-bind:class="[showSearchbox ? 'menuLabel greenColor' : 'menuLabel']">
                            <input v-model="showSearchbox" type="checkbox" id="showSearchbox" class="menuCheckbox">
                            Show searchbox</label>
                    </li>
                    <li class="menuOption">
                        <label for="showSelected" @click="cookiesMenu()"
                            v-bind:class="[showSelected ? 'menuLabel greenColor' : 'menuLabel']">
                            <input v-model="showSelected" type="checkbox" id="showSelected" class="menuCheckbox">
                            Show Selected</label>
                    </li>
                    <!-- <li class="menuOption">
                        <label for="range" class="menuLabel">
                            <input v-model="range" type="range" min="1" max="102" step="6" id="range" class="range">
                            Range</label>
                    </li> -->
                    <!-- <li class="menuOption">
                        <label for="saveData" class="menuLabel">
                            <input v-model="saveData" type="checkbox" id="saveData">
                            Save data</label>
                    </li> -->
                    <!-- <li class="menuOption" @click="showMenu=false" class="menuLabel">Hide</li> -->
                </ul>
            </div>
        </div>
        <div id="main">
            <div class="searchDiv">
                <input type="text" v-model="search" @click="search=''" v-if="showSearchbox" placeholder="Search"
                    class="searchInp">
            </div>
            <ul class="list" v-if="showSelected">
                <li v-for="(coin, index) in filtered" class="elements" v-if="coin.quantity">
                    <span class="coinName">{{coin.name}}</span>
                    <input type="number" @change="update(index)" v-bind:id="coin.symbol" v-model="coin.quantity"
                        placeholder="QUAN" class="numInput">
                    <div v-if="showPrice" class="price">{{coin.quote.USD.price}} USD</div>
                    <div v-if="showChange" class="change">
                        <span v-if="coin.quote.USD.percent_change_24h<0"
                            style="color: red;">{{coin.quote.USD.percent_change_24h}}%</span>
                        <span v-else style="color: green;">{{coin.quote.USD.percent_change_24h}}%</span>
                    </div>

                </li>
            </ul>
            <ul class="list" v-else>
                <li v-for="(coin, index) in filtered" class="elements">
                    <span class="coinName">{{coin.name}}</span>
                    <input type="number" @change="update(index)" v-bind:id="coin.symbol" v-model="coin.quantity"
                        placeholder="QUAN" class="numInput">
                    <div v-if="showPrice" class="price">{{coin.quote.USD.price}} USD</div>
                    <div v-if="showChange" class="change">
                        <span v-if="coin.quote.USD.percent_change_24h<0"
                            style="color: red;">{{coin.quote.USD.percent_change_24h}}%</span>
                        <span v-else style="color: green;">{{coin.quote.USD.percent_change_24h}}%</span>
                    </div>

                </li>
            </ul>
            <div v-bind:class="[pulseBtn ? 'counter pulse' : 'counter']">
                Account balance: {{balance}} USD <span></span>
            </div>
        </div>
    </div>
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            const app = new Vue({
                el: '#app',
                data: {
                    coins: [],
                    pulseBtn: false,
                    balance: 0,
                    range: 102,
                    search: "",
                    showMenu: false,
                    showChange: false,
                    showPrice: false,
                    showSearchbox: false,
                    showSelected: false,
                    saveData: false,
                    selected: [],
                },
                methods: {
                    getCoins() {
                        //axios.get('http://192.168.55.107:8000/test')
                             axios.get(`/test`)
                            .then(response => {
                                this.coins = response.data.currency.data;
                                this.cookies();
                            })
                            .catch(error => {
                                console.log('err', error);
                            })
                    },
                    update(index) {
                        this.balance = 0
                        this.selected = []
                        for (let i = 0; i < this.coins.length; i++) {
                            let obj = {}
                            if (this.coins[i].quantity) {
                                this.balance += this.coins[i].quantity * this.coins[i].quote.USD.price
                                obj.name = this.coins[i].name
                                obj.quantity = this.coins[i].quantity
                                this.selected.push(obj)
                            }
                        }
                        Cookies.set("data", this.selected)
                        this.balance = (Math.round(this.balance * 100, 2) / 100)
                        this.pulseBtn = true;
                        setTimeout(() => this.pulseBtn = false, 1400);
                    },                    
                    cookies() {
                        if (Cookies.get("data")) {
                            for (let i = 0; i < Cookies.getJSON("data").length; i++) {
                                for (let j = 0; j < this.coins.length; j++) {
                                    if (this.coins[j].name == Cookies.getJSON("data")[i].name) {
                                        this.coins[j].quantity = Cookies.getJSON("data")[i].quantity
                                    }
                                }
                            }
                            this.update()
                        }
                    },
                    cookiesMenu() {
                        setTimeout(() => {
                            let obj = {}
                            obj.change = this.showChange
                            obj.price = this.showPrice
                            obj.sel = this.showSelected
                            Cookies.set("menu", obj)
                        }, 50);
                    },
                },
                created() {
                    this.getCoins();
                    if (Cookies.get("menu")) {
                        this.showChange = Cookies.getJSON("menu").change
                        this.showPrice = Cookies.getJSON("menu").price
                        this.showSelected = Cookies.getJSON("menu").sel
                    }
                    console.log(Cookies.getJSON("menu"))
                },
                computed: {
                    filtered: function () {
                        return this.coins.filter((coin) => {
                            return coin.name.toLowerCase().match(this.search.toLowerCase());
                        })
                    }
                }
            })
        })
    </script>
</body>
</html>