<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>

<body>
    <div id="main">
        <div class="header">
            <div class="h1">CRYPTO CALCULATOR </div>
        </div>
        <div id="app">
            <ul class="list">
                <li v-for="(coin, index) in coins" class="elements" >
                    {{coin.name}}<input type="number" @change="update(index)" v-model="coin.quantity" placeholder="Quantity" class="numInput">
                </li>
            </ul>
            <div id="counter" class="counter">
                Your account balance: {{balance}} USD
            </div>
        </div>        
    </div>
    

    <script>

        document.addEventListener("DOMContentLoaded", function (event) {

            const app = new Vue({
                el: '#app',
                data: {
                    coins: [],
                    showInputs: false,
                    selected: [],
                    balance: 0,
                },
                methods: {
                    getCoins() {
                        axios.get(`http://localhost:8000/test`)
                            .then(response => {
                                this.coins = response.data.currency.data;
                                console.log(this.coins)
                            })
                            .catch(error => {
                                console.log('err', error);
                            })
                    },                   
                    update(index){
                        this.balance=0
                        for(let i=0;i<this.coins.length; i++){
                            if(this.coins[i].quantity){
                                this.balance+=this.coins[i].quantity*this.coins[i].quote.USD.price 
                            }
                        } 
                        this.balance=(Math.round(this.balance*100,2)/100) 
                        document.getElementById("counter").setAttribute("style", "animation: pulse 2s;")                                           
                    }        
                },
                show() {
                    this.showInputs = true;
                },
                created() {
                    this.getCoins();                    
                }
            })
        })
    </script>

</body>

</html>